body {
  font-family: tahoma, sans-serif;
  background-color: #eee;
}

.header {
  background-color: #0247FE;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 4px -6px black;
}

.header-title {
  color: #fff;
  font-size: 1.8em;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-shadow: 1px 1px white, -1px -1px #444;
}

.main-container {
  margin: 5vh auto 0;
  width: 90%;
  height: 71vh;
  background-color: #fff;
  box-shadow: 2px 2px 10px #bbb;
  border: 1px solid transparent;
}

.signup-btn {
  color: #fff;
  font-size: 1em;
  background-color: #FEB902;
  border: none;
  display: block;
  padding: 10px 12px;
  margin: 50px 0 20px 50px;
}

.main-table th {
  font-weight: bold;
}





.footer {
  text-align: center;
  margin-top: 60px;
}

.footer p {
  color: #999;
  font-size: 14px;
  font-style: italic;
}

.footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  color: #0247FE;
  transition: .7s;
}
