body {
  font-family: tahoma, sans-serif;
  background-color: #eee;
}

header {
  background-color: #0000FE;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-weight: bold;
  font-size: 30px;
}
