body {
  font-family: tahoma, sans-serif;
  background-color: #eee;
}

.header {
  background-color: #0247FE;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 4px -6px black;
}

.header-title {
  color: #fff;
  font-size: 1.8em;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-shadow: 1px 1px white, -1px -1px #444;
}

.main-container {
  margin: 5vh auto 0;
  width: 90%;
  height: 71vh;
  background-color: #fff;
  box-shadow: 2px 2px 10px #bbb;
  border: 1px solid transparent;
}

.signup-btn {
  color: #fff;
  font-size: 1em;
  background-color: #FEB902;
  border: none;
  display: block;
  padding: 10px 12px;
  margin: 50px 0 20px 50px;
  cursor: pointer;
  transition: .7s;
  position: relative;
  z-index: 1;
}

.signup-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #CC9501;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.signup-btn:hover:before {
  width: 100%;
}

.main-table tr {
  display: grid;
  grid-template-columns: repeat(5, 17.3vw);
  grid-template-rows: repeat(5, auto);
  gap: 1.5px;
  column-gap: 2px;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.main-content-head th {
  user-select: none;
  font-weight: bold;
  background-color: #02C5FE;
}

.main-table th, .main-table td {
  padding: 15px 0 15px 17px;
}

.main-table th:first-child, .main-table td:first-child {
  margin-left: 50px;
}

.main-table th:last-child, .main-table td:last-child {
  text-align: center;
  padding-left: 0;
}

.main-content-body td {
  font-size: 15px;
  overflow: auto;
  text-overflow: ellipsis;
}

.main-content-body td:last-child {
  padding: 0;
}

.main-content-body:hover td {
  background: #28D7FF35;
}

.menu-btn {
  padding: 9px 11px;
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: .7s;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.edit-btn {
  background: #01dca0;
}

.edit-btn:before {
  background: #01ac7d;
}

.delete-btn {
  background: #FE3B02;
}

.delete-btn:before {
  background: #CC2F01;
}

.menu-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.menu-btn:hover:before {
  width: 100%;
}








.footer {
  text-align: center;
  margin-top: 60px;
}

.footer p {
  color: #999;
  font-size: 14px;
  font-style: italic;
}

.footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  color: #0247FE;
  transition: .7s;
}
