body {
  font-family: tahoma, sans-serif;
  background-color: #eee;
}

.header {
  background-color: #0000FE;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 4px -6px black;
}

.header-title {
  color: #fff;
  font-size: 1.8em;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-shadow: 1px 1px white, -1px -1px #444;
}

.main-container {
  margin: 5vh auto 0;
  width: 90%;
  height: 71vh;
  background-color: #fff;
  box-shadow: 2px 2px 10px #bbb;
}
