body {
  font-family: tahoma, sans-serif;
  background-color: #eee;
}

header {
  background-color: #0000FE;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 4px -6px black;
}

header h1 {
  color: #fff;
  font-size: 30px;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-shadow: 1px 1px white, -1px -1px #444;
}
